label {
	margin-left: 5px;
}

.record-group {
  margin: 1rem;
}

div.ReactTable {
  background-color: linen;
}

.form-text {
  color:#fff!important;
  font-weight: bold;
}

a:hover {  
  cursor: pointer;
}

.alert {
  margin-left: 1.5rem;
}

.form-options {
  margin: 0.25rem
}

a.option-gr {
  margin: -1.5rem 0rem 2rem 0rem;
}

a.option-gr:hover {
  box-shadow: 0rem 0rem 1.875rem rgba(0, 0, 0, 0.2);
}

.paginationContainer {
  text-align: center;
}

.text-danger{
  font-size: 1.5rem;
  font-weight: bold;
}

.renter-name {
  display: inline-block;
}

.img-wrap .close {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}
.authenticate-gr {
  position: absolute;
  right: 15px;

}

.config {
  display: inline-block;
  text-align: right;
  font-size: 2rem;
  width: 100%;
}

fieldset.house-form {
    margin-left: 0.3125rem
    -webkit-box-shadow:  0rem 0rem 0rem 0rem #000;
            box-shadow:  0rem 0rem 0rem 0rem #000;
}

legend.house-form {
	font-family: arial;
	font-size: 2rem !important;
    font-weight: bold !important;
    font-style: italic !important;
    text-align: left !important;
}

form.house-form {
    margin: 1.25rem;
}

.renter{
  margin-top: 0.5rem;
}

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0rem 0rem 1.875rem rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 1.5rem 0.625rem;
}
.panel-pricing .panel-heading .fa {
  margin-top: 0.625rem;
  font-size: 3.75rem;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 0.0625rem solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 1.25rem;
  color: #777777;
  padding: 1.25rem;
  margin: 0rem;
}

.list-group-item {
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ReactTable .rt-td {
  text-align: center;
}

/* start editing from here for 404 Page */
.content-404 h1 {
    font-size: 200px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 700;
    color: grey;
  font-family: 'Ravi Prakash', cursive;
  text-shadow:9px 9px 3px hsl(206, 15%, 40%);
}
.content-404 h2{
  font-size:2rem;
  letter-spacing:0.2rem;
  text-align:center;
  color:red;
}
.content-404 p {
    color: red;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: 60px auto 0 auto;
    line-height: 30px;
}
/* end editing for 404 Page */

/* start editing from here for permission denied Page */
.content-permission h1 {
    font-size: 200px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 700;
    color: red;
  font-family: 'Ravi Prakash', cursive;
  text-shadow:9px 9px 3px hsl(206, 15%, 40%);
}
.content-permission h2{
  font-size:2rem;
  letter-spacing:0.2rem;
  text-align:center;
  color:red;
}
.content-permission p {
    color: red;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: 60px auto 0 auto;
    line-height: 30px;
}
/* end editing for 404 Page */

body {
  background-image: url('./images/houseBG.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input.search-name, select.search-payment , option {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input.search-name, select.search-payment {    
    height: 3rem;
    border : 1px #ccc solid;
    border-radius: 25px;
    vertical-align:top;
    margin: 1.25rem;
    outline: none;
}

.search-options {
  margin-left: 1.5rem;
}

input:focus, select:focus {
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

.panel-empty {
  background-color: #66b3ff !important;
}

/* Home Page */
.emptyTemplate {
  background-color:#66b3ff !important;
}

.unpaidTemplate {
  color:#a94442!important;
  background-color:#f2dede!important;
  text-decoration-color: white;
}

.paidTemplate {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  text-decoration-color: #3c763d !important;
}

.emptyTemplate, .unpaidTemplate, .paidTemplate {
  width: 25rem;
}

.homePageLabel {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px #0a152d;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: #0096ff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.homePageContent:hover {
  /*text-shadow: -2px -2px 1px rgb(255,255,255) , -1px -1px 1px rgb(255,255,255) , 1px 1px 1px rgba(232,247,255,0.901961) , 2px 3px 1px rgba(28,67,103,0.498039) , 5px 5px 12px rgba(5,13,20,0.498039) ;*/
  color: #8CD2E7!important;
  font-weight: bold;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
