label {
	margin-left: 5px;
}

div.date-picker {
  width: 30%;
  margin-bottom: 1rem;
}

input[type=text] {
	width: 30%;
    padding: 0.75rem 1.25rem;
    margin: 0.625rem 0.3125rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

fieldset.house-form {
    margin-left: 0.3125rem
    -webkit-box-shadow:  0rem 0rem 0rem 0rem #000;
            box-shadow:  0rem 0rem 0rem 0rem #000;
}

legend.house-form {
	font-family: arial;
	font-size: 1rem !important;
    font-weight: bold !important;
    font-style: italic !important;
    text-align: left !important;
}

form.house-form {
    margin: 1.25rem;
}

a.btn {
  margin: 0.5rem 0rem 1rem 0rem;
}


.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0rem 0rem 1.875rem rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 1.5rem 0.625rem;
}
.panel-pricing .panel-heading .fa {
  margin-top: 0.625rem;
  font-size: 3.75rem;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 0.0625rem solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 1.25rem;
  color: #777777;
  padding: 1.25rem;
  margin: 0rem;
}

.list-group-item {
  text-overflow: ellipsis;
  word-wrap: break-word;
}

